{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
    <h1>Welcome to the Homepage</h1>
    <div id="posts-container">
        {% for post in object_list %}
        <div class="card mt-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAxivrf6h-BlxalnK5YVlC2jgP6eYgBvW7VpixDrLvlA&s" class="card-img-top" alt="{{ post.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <!-- Add other post information here -->
                <p class="card-text">Author: {{ post.author.username }}</p>
                <a href="{% url 'article' pk=post.pk %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}