{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
        <h1>Welcome to the Homepage</h1>
        <div id="posts-container">
            {% for post in object_list %}
            <div class="card mt-3">
                <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" class="card-img-top" alt="{{ post.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">Author: {{ post.author.username }}</p>
                </div>
            </div>
            {% endfor %}
{% endblock %}